.top-buffer { margin-top:50px; }
.small-buffer { margin-top:20px; }
.start-buffer { margin-top:200px; }
.first-buffer { margin-top:175px; }

.center-text {text-align: center;}

.radio-button-label {
    font-size: 1em;
    padding-right: 10px;
}

.headshot {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.blocking {
    display: block;
}

.center-vert {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.stats {
    font-size: 1em;
    font-style: italic;
}

.word-cloud-font {

}

h1 {font-size: 4em;}

span {font-size: 1.5em;}


header {
    position: relative;
    width: 100%;
    opacity: 1;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../Reddit-Image.jpg');
    background-position: top;
    background-size: cover;
    
}

header .header-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 400px 15px 70px;
    text-align: center;
    
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
    display: inline-block;
    padding: 0px 20px 10px 20px;
    background-color: #5C666E;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    color: rgba(255,255,255,.7);
    background-color: #5C666E;
}

